

<div class="big-form">
<div>
  <input type="text" placeholder="Rechercher des images" [(ngModel)]="search" id="search">
      <input type="button" value="Filtres" id="filtreBtn">
    </div>

    <div id="filtres" style="display:none">
      <input type="button" value="Taille de l'image" class="lil-button">
      <input type="button" value="NSFW" class="lil-button">
    </div>


<div>
  <input type="submit" (click)="submitSearch()" class="big-button">
</div>
</div>


<mat-grid-list cols="5" gutterSize="2rem" style="max-width: 1380px;margin:0 auto">
  <mat-grid-tile *ngFor="let photo of photos;">
    <a class="result-img" [routerLink]="['/details', photo.id]">
      <span>{{photo.title}}</span>
      <img src="{{getImageURLFromPhoto(photo)}}" alt="Photo" style="max-height: 200px;">
    </a>
  </mat-grid-tile>
</mat-grid-list>
