<head>
    <meta charset="UTF-8">
</head>

<h2>Photo</h2>
<h1>{{this.title}}</h1>
<img [src]="this.url" [alt]="this.title"/>

<ul>
    <li>description: {{description}}</li>
    <li>owner username: {{owner_username}}</li>
    <li>owner real name: {{owner_realname}}</li>
    <li>owner location: {{owner_location}}</li>
    <li>date posted: {{date_posted}}</li>
    <li>date taken: {{date_taken}}</li>
    <li>last update: {{date_lastupdate}}</li>
    <li>views: {{views}}</li>
    <li>Number of comments: {{comments_content}}</li>
    <li *ngIf="latitude">latitude: {{latitude}}</li>
    <li *ngIf="longitude">longitude: {{longitude}}</li>
    <li *ngIf='locality'>locality: {{locality}}</li>
    <li *ngIf='county'>county: {{county}}</li>
    <li *ngIf='region'>region: {{region}}</li>
    <li *ngIf='country'>country: {{country}}</li>
    <li *ngIf="neighbourhood">neighbourhood: {{neighbourhood}}</li>
</ul>

<h2>Autres photos de l'auteur</h2>
<ul>
  <li *ngFor="let item of other_photos">
    <h4><a href="http://localhost:4200/details/{{item.id}}">{{ item.title }}</a></h4>
    <img [src]="this.flickrService.getImageURLFromPhoto(item)" [alt]="item.title"/></li>
</ul>
<button (click)="previousPhotoPage()"><</button>
<button (click)="nextPhotoPage()">></button>

<h2>Commentaires</h2>
<ul>
    <li *ngFor="let item of commentsManager.toDisplay">
        <h4>{{ item.authorname }}</h4>
        <div [innerHTML]="item._content"></div>
    </li>
</ul>
<button (click)="commentsManager.previousCommentPage()"><</button>
<button (click)="commentsManager.nextCommentPage()">></button>